@import url('./walletColor.less');

.import-by-walletconnect-container {
  .walletconnect-container {
    position: relative;
    margin-top: 100px;
    padding-bottom: 150px;
    margin-bottom: -4px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
    .walletconnect-title {
      font-size: 18px;
      margin-bottom: 24px;
    }
    .walletconnect-title-tip {
      height: 20px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.65);
      line-height: 20px;
    }
    .walletconnect-error {
      position: absolute;
      bottom: 0;
      text-align: left;
      color:#FB6262;
      display: flex;
      font-size: 12px;
      line-height: 16px;
      &::before {
        display: flex;
        content: '';
        width: 14px;
        height: 14px;
        background: url(../../assets/images/icon_warning@2x.png) 0 0 no-repeat;
        background-size: 14px auto;
        margin-right: 10px;
      }
      > span {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  button {
    width: 100%;
    margin-top: 24px;
  }

  .btn.btn-primary.loading {
    background-color: #FFFFFF;
    border: #ffffff;
    color: #9AA1B1;
    .icon-Loading:before {
      color:#3075EE;
    }
  }
  
  .qrcode-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    &::before {
      content: '';
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: #1F2533;
      opacity: 0.9;
    }
    .qrcode-title {
      display: flex;
      line-height: 20px;
      font-size: 16px;
      font-weight: 500;
      color: #FFFFFF;
      margin-bottom: 12px;
      &::before {
        display: flex;
        content:'';
        width: 18px;
        height: 18px;
        margin-right: 6px;
        background: url(../../assets/images/icon_usdt@2x.png) 0 0 no-repeat;
        background-size: 18p auto;
      }
    }
    .qrcode-contain {
      box-sizing: border-box;
      padding: 20px 20px 24px 20px;
      width: 320px;
      height: 336px;
      text-align: center;
    }
    .qrcode-title-desc {
      font-size: 12px;
      font-weight: 400;
      color: #1A2130;
      line-height: 16px;
      margin-bottom: 20px;
    }
    .qrcode-img {
      width: 240px;
      height: 240px;
      margin: 0 auto;
    }
  }
}
