@import "~_src/assets/css/theme";

.my-address {
  color: #A7ABB3;
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
  .address-content {
    margin-right: 16px;
    line-height:22px;
    .address-text {
      padding-left: 16px;
    }
  }
  .icon-introduce {
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }
  i {
    color: @brand;
  }
  svg {
    width: 16px;
    height: 16px;
  }
  i, svg {
    margin-left: 8px;
    cursor: pointer;
  }
  .qr-container {
    position: relative;
    display: inline-block;
    img {
      margin-right: 8px;
      &:hover {
        &~div {
          display: flex;
        }
      }
    }
    .qr-pic {
      width: 81px;
      height: 81px;
      align-items: center;
      justify-content: center;
      background: #fff;
      position: absolute;
      top: 30px;
      z-index: 1;
      left: 0;
      display: none;
    }
  }
  .hidden {
    display: none;
  }
  .address-expanded {
    margin-left: 20px;
    font-size: 14px;
    color: #2676FF;
    cursor: pointer;
    img {
      margin-bottom: -3px;
    }
  }
}
