@swap-contaner-width: 520px;
@swap-watchlist-width: 1124px;
@watchlist-contaner: calc(@swap-contaner-width - @swap-watchlist-width);
@watchlist-left: calc(@watchlist-contaner / 2);

.scrollbar() {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb { 
    border-radius: 4px;
    background-color: #151D2D; 
  }
  &::-webkit-scrollbar-track { 
    background-color: transparent; 
  }
  &::-webkit-scrollbar-corner{ 
    background: transparent;
  }
}

.nodata() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 108px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
  &::before {
    display: flex;
    content: '';
    width: 48px;
    height: 48px;
    background: rgba(45, 96, 224, 0.15);
    margin-bottom: 12px;
  }
}

.opt() {
  box-sizing: border-box;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  height: 28px;
  background: rgba(24, 91, 245, 0.37);
  border-radius: 2px;
  margin-left: 10px;
  line-height: 14px;
  cursor: pointer;
}

.before() {
  &::before {
    margin-right: 4px;
    content:'\e65e'
  }
}

.coin-select() {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  .coin-icon {
    display: flex;
    width: 18px;
    height: 18px;
  }
  .text {
    margin-left: 10px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.45);
    &.active {
      color: #FFFFFF;
    }
  }
  .iconfont::after {
    content: "\E660";
    font-size: 14px;
    color:rgba(255,255,255,0.35);
  }
}

.swap-container {
  width: @swap-contaner-width;
  margin: 60px auto 0 auto;
  
  .swap-nav {
    position: relative;
    .swap-nav-list {
      margin: 0 44px;
      .swap-tab {
        border: 0;
        padding-bottom: 19px;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.3);
        outline: none;
        cursor: pointer;
        &:nth-child(2) {
          margin: 0 94px 0 117px;
        }
        &.swap-tab-active {
          color: #FFFFFF;
        }
      }
      .swap-ink-bar {
        position: absolute;
        bottom: 0;
        height: 3px;
        background: rgba(255, 255, 255, 0.85);
        pointer-events: none;
        transition: width .3s,left .3s,right .3s;
      }
    }
    .swap-nav-operations-hidden {
      height: 24px;
    }
  }

  .swap-content {
    margin-left: 0 !important;
  }

  .swap-tabpane {
    outline: none;
  }

  .watchlist .swap-content-holder {
    width: @swap-watchlist-width;
    margin-left:@watchlist-left;
  }

  .panel {
    position: relative;
    background: #112F62;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .panel-swap {
    padding: 30px 24px;
    .btn-wrap {
      margin: 34px -12px 0 -12px;
    }
  }

  .coin-item {
    padding: 20px;
    background: #183D80;
    border-radius: 4px;
    .coin-item-title {
      display: flex;
      flex: 1;
      justify-content: space-between;
      margin-bottom: 10px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.35);
      .txt {
        color: rgba(255, 255, 255, 0.65);
        .max {
          cursor: pointer;
          margin-left: 10px;
          color: #2D60E0;
        }
      }
    }
    .coin-item-content {
      display: flex;
      flex: 1;
      justify-content: space-between;
      height: 26px;
      font-size: 18px;
      font-weight: 500;
      color: #FFFFFF;
      line-height: 26px;
      .input {
        display: flex;
        flex: 1;
        input {
          width: 100%;
          line-height: normal;
          height: 26px;
          color: #FFFFFF;
          &::-webkit-input-placeholder {
            color:rgba(255,255,255,0.65);
          }
        }
      }
      .coin-select {
        .coin-select;
      }
    }
  }

  .sep {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    &::before {
      display: flex;
      content: '';
      width: 24px;
      height: 24px;
      background: 0 0 no-repeat;
      background-size: 24px auto;
    }
    &.transformation-sep::before {
      width: 32px;
      height: 32px;
      cursor: pointer;
      background-size: 32px auto;
      background-image: url(../../assets/images/transformation.png);
    }
    &.add-sep::before {
      width: 20px;
      height: 20px;
      background-size: 20px auto;
      background-image: url(../../assets/images/add@2x.png);
    }
  }

  .coin-exchange-detail {
    margin-top: 10px;
    margin-bottom: -10px;
    .info {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.65);
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      .info-name {
        display: flex;
        align-items: center;
        .help {
          cursor: pointer;
          display: flex;
          margin-left: 10px;
          width: 14px;
          height: 14px;
          background: url(../../assets/images/help@2x.png) 0 0 no-repeat;
          background-size: 14px auto;
        }
      }
      .info-value {
        display: flex;
        align-items: center;
        .exchange {
          display: flex;
          width: 14px;
          height: 15px;
          margin-right: 10px;
        }
        .coin {
          display: flex;
          width: 14px;
          height: 14px;
          margin-right: 4px;
          margin-left: 4px;
        }
      }
    }
  }

  .coin-dropdown {
    padding: 0 20px;
    background: #183D80;
    border-radius: 4px;
    .coin-select {
      .coin-select;
      height: 48px;
      .text {
        display: flex;
        flex: 1;
        margin-left: 4px;
        margin-right: 0;
      }
    }
  }

  .error-tip {
    margin-top: 10px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #E35E5E;
    line-height: 16px;
  }
  
  .btn {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    background: #2D60E0;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    &.disabled {
      background: #152A57;
      color:rgba(255,255,255,0.35);
      cursor: default;
    }
    &.add-icon::before {
      content: '';
      display: flex;
      width: 14px;
      height: 14px;
      margin-right: 10px;
      background: url(../../assets/images/add@2x.png) 0 0 no-repeat;
      background-size: 14px auto;
    }
  }

  .panel-pool {
    box-sizing: border-box;
    padding: 30px 24px 0 24px;
    min-height: 384px;
    .nodata {
      .nodata;
      margin-top: 72px;
    }
  }

  .liquidity {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 19px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    .left {
      display: flex;
      align-items: center;
      color:#FFFFFF;
      &::after {
        display: flex;
        cursor: pointer;
        content:'';
        margin-left: 10px;
        width:14px;
        height: 14px;
        background: url(../../assets/images/help@2x.png) 0 0 no-repeat;
        background-size: 14px auto;
      }
    }
    .right {
      cursor: pointer;
      color: #2D60E0;
    }
  }

  .poll-items-wrap {
    margin-right: -22px;
    max-height: 511px;
    overflow-y: auto;
    .scrollbar;
  }

  .poll-item {
    box-sizing: border-box;
    padding: 12px 24px 16px 24px;
    height: 120px;
    background: #152A57;
    border-radius: 4px;
    .poll-item-title {
      .title-img {
        font-size: 0;
        img {
          width: 18px;
          height: 18px;
          &:nth-child(2) {
            margin-left: -5px;
            margin-right: 10px;
          }
        }
        .title-name {
          font-size: 16px;
          font-weight: 500;
          color: #FFFFFF;
        }
      }
      .title-opt {
        .opt {
          .opt;
        }
      }
    }
    .poll-item-info,.poll-item-txt {
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 20px;
    }
    .poll-item-txt {
      margin-top: 16px;
      margin-bottom: 8px;
      color: rgba(255, 255, 255, 0.35);
    }
  }

  .poll-items {
    width: 472px;
    .poll-item {
      .poll-item;
      padding: 12px 17px 16px 23px;
      margin-bottom: 10px;
    }
  }

  .add-liquidity-content {
    padding: 24px 24px 30px 24px;
    .coin-exchange-detail {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .btn-wrap {
      margin-top: 24px;
    }
  }

  .panel-header {
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 28px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255,255,255,0.65);
    line-height: 24px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    .before {
      .before;
    }
  }
}

.panel-coin-search {
  position: absolute;
  left: 72;
  top: 50%;
  z-index: 100;
  width: 400px;
  background: #1B283E;
  box-shadow: 0px 2px 8px 0px rgba(31, 37, 51, 0.2);
  border-radius: 2px;
  .search-wrap {
    display: flex;
    flex: 1;
    height: 40px;
    background: #151D2D;
    box-shadow: 0px -1px 0px 0px #151D2D;
    align-items: center;
    &::before {
      display: flex;
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 10px;
      margin-right: 8px;
      content:'\E6BE';
      color: rgba(255, 255, 255, 0.35);
    }
    input {
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      &::-webkit-input-placeholder {
        color:rgba(255,255,255,0.35);
      }
    }
  }
  .search-content-wrap {
    height: 352px;
    padding: 8px 0;
  }
  .search-content-items {
    height: 336px;
    overflow-y: auto;
    position: relative;
    .scrollbar;
    .search-content-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      padding: 0 20px;
      cursor: pointer;
      .name {
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        img {
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }
      .value {
        color: #9AA1B1;
      }
      &:hover {
        background: #1E314F;
      }
    }
    .nodata {
      .nodata;
    }
  }
}

.space-between {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  & > .left, & > .right {
    display: flex;
    align-items: center;
  }
}